{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/editTask.css') }}">
{% endblock %}

{% block h1 %}{% endblock %}
{% block addButton %}{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="main-container">
        <h2>Aufgabe bearbeiten</h2>

        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.user) }}
            {{ form_row(form.status) }}

            <button type="submit" class="btn">Änderungen speichern</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
