{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/newTask.css') }}">
{% endblock %}

{% block h1 %}{% endblock %}
{% block addButton %}{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="main-container">
        <h2>Neue Aufgabe für "{{ team.name }}"</h2>

        {{ form_start(newTaskForm) }}
            {{ form_row(newTaskForm.title) }}
            {{ form_row(newTaskForm.description) }}
            {{ form_row(newTaskForm.user) }}

            <button type="submit" class="btn">Aufgabe erstellen</button>
        {{ form_end(newTaskForm) }}
    </div>
</div>
{% endblock %}

