{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block stylesheets %}
    {# CSS f체r das Select2-Widget #}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {# Unsere neue CSS-Datei f체r das Seitenlayout #}
    <link rel="stylesheet" href="{{ asset('css/newTeam.css') }}">
{% endblock %}

{% block h1 %}{% endblock %}
{% block addButton %}{% endblock %}

{% block body %}
<div class="main-container">
    <h2>Neues Team erstellen</h2>

    {{ form_start(newTeamForm) }}
        
        {{ form_row(newTeamForm.name) }}
        
        {# Wir f체gen die 'select2'-Klasse hinzu, damit unser Javascript sie findet #}
        {{ form_row(newTeamForm.users, {
            'attr': {'class': 'select2'}
        }) }}

        <button type="submit" class="btn">Create New Team</button>
        
    {{ form_end(newTeamForm) }}
</div>

{# Javascript-Bibliotheken am Ende des Body laden #}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: "Nutzer ausw채hlen",
            allowClear: true
        });

    
    });
</script>
{% endblock %}