{% extends "base.html.twig" %}
{% block title %} {{ team.name }} {% endblock title %}
{% block stylesheets %}
{% endblock %}


{% block h1 %} Welcome to {{ team.name }} {% endblock h1 %}

{% block addButton %}
    <a href="{{ path('new-task', {'id': team.id}) }}">
        <img src="{{ asset('images/add.svg') }}" alt="Add" style="width: 40px; height: 40px; cursor: pointer;">
    </a>
{% endblock addButton %}


{% block body %}

    <div class="container">
        <div class="myTasks">
            {% if tasks %}
                {% for task in tasks %}
                <a href="{{ path('edit-task', {'team_id': team.id, 'task_id': task.id}) }}">
                    <button class="myTasks-button"> {{ task.title }} | {{ task.status.value }} | {{ task.user.email }}</button>
                </a>
                {% endfor %}
            {% endif %}
            {% for message in app.flashes('error') %}
                <div class="allert alert-denied">
                    {{ message }}
                </div>
            {% endfor %}
        </div>


        <div class="users">
            <h2> Team users </h2>                
            <div>{{ team.owner.email }}</div>
            {% if team.users %}
                {% for user in team.users %}
                    <div>{{ user.email }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}