{% extends "base.html.twig" %}
{% block title %} {{ team.name }} {% endblock title %}
{% block stylesheets %}
{% endblock %}


{% block h1 %} Welcome to {{ team.name }} {% endblock h1 %}

{% block addButton %}
    <a href="{{ path('new-task', {'id': team.id}) }}">
        <img src="{{ asset('images/add.svg') }}" alt="Add" style="width: 40px; height: 40px; cursor: pointer;">
    </a>
{% endblock addButton %}


{% block body %}

    <div class="container">
        <div class="myTasks">
            {% if team.tasks %}
                {% for task in team.tasks %}
                    <button class="myTasks-button"> {{ task.title }} | {{ task.status.value }} </button>
                {% endfor %}
            {% endif %}
            {% if isOwner %}
                <div>Owner</div>
            {% endif %}
        </div>


        <div class="users">
            <h2> Team users </h2>                
            <div>{{ team.owner.email }}</div>
            {% if team.users %}
                {% for user in team.users %}
                    <div>{{ user.email }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}