{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
{% endblock %}
{% block addButton %}{% endblock addButton %}
{% block logoutButton %}{% endblock logoutButton %}
{% block homeButton %}{% endblock homeButton %}
{% block body %}
<div class="loginWindow">
    <div class="loginWindowText">
        <h2>LOGIN</h2>
        <h4>Welcome </h4>
    </div>

    <form class="InputForm" method="post">
        {# Fehleranzeige von Symfony Security #}
        {% if error %}
            <p class="Information">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <div class="loginWindowInput">
            <input id="email" name="_username" type="email" 
                   value="{{ last_username }}" 
                   placeholder="E-Mail" required autofocus />

            <div class="passwordContainer">
                <input name="_password" id="password" type="password" placeholder="Password" required />
                <span class="togglePassword" id="togglePassword1">
                    <i class="eye-icon" id="eyeIcon1"></i>
                </span>
            </div>

            {# CSRF Token für Symfony #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>

        <div class="loginWindowLinks">
            <div class="loginButton">
                <button type="submit">Log In</button>
            </div>
            <p>Don't have an account? <a href="{{ path('app_register') }}">Sign up</a></p>
        </div>
    </form>
</div>

<script>
    function togglePasswordVisibility(inputId, iconId) {
        const passwordField = document.getElementById(inputId);
        const eyeIcon = document.getElementById(iconId);

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.add('open'); 
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('open'); 
        }
    }

    document.getElementById('togglePassword1').addEventListener('click', function () {
        togglePasswordVisibility('password', 'eyeIcon1');
    });
</script>
{% endblock %}

