<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Studi Bonn Task{% endblock title %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block homeButton %}
        <div class="top-bar">
            <div class="top-nav">
                
                    <a href="{{ path('userPage') }}">
                        <button type="button" class="nav-button">
                            <img src="{{ asset('images/home-icon-silhouette.png') }}" alt="Home">
                        </button>
                    </a>
                {% endblock homeButton %}

                {% block logoutButton %}
                    <a href="{{ path('app_logout') }}">
                        <button type="button" class="nav-button">
                            <img src="{{ asset('images/logout.png') }}" alt="Logout">
                        </button>
                    </a>
                {% endblock logoutButton %}
            </div>
        </div>

        {% block addButton %}
        {% endblock addButton %}
        
        {% block body %}
        {% endblock body %}
    </body>
</html>