{% extends "base.html.twig" %}
{% block title %} Team {% endblock title %}
{% block stylesheets %}
{% endblock %}


{% block h1 %} Welcome to {{ teamName }} {% endblock h1 %}
  
{% block addButton %}
    <a href="{{ path('new-task') }}">
        <img src="{{ asset('images/add.svg') }}" alt="Add" style="width: 40px; height: 40px; cursor: pointer;">
    </a>
{% endblock addButton %}



{% block body %}

<div class="container">
    <div class="myTasks">
        {% if myTasks %}
            {% for task in myTasks %}
                <button class="myTasks-button"> {{ task.name }} | {{ task.status }} </button>
            {% endfor %}
        {% endif %}
        {% if isOwner %}
            <div>Owner</div>
        {% endif %}
    </div>


    <div class="addUsers">
        <h2> All Users </h2>
        {% if allUsers %}
            {% for user in allUsers %}
                <button class="user-button"> {{ user.name }} </button>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
