{% extends "base.html.twig"  %}
{% block title %} User {% endblock title %}
{% block stylesheets %}
{% endblock %}


{% block h1 %} Welcome {{ username }} {% endblock h1 %}
  
{% block addButton %}
    <a href="{{ path('new-team') }}">
        <button type="button">
            <img src="{{ asset('images/add.svg') }}" alt="Add" style="width: 40px; height: 40px;" >
        </button>    
     </a>
{% endblock addButton %}

{% block body %}

<div class="container">
    <div class="myTeamContainer">
        {% if myTeams %}
            {% for team in myTeams %}
            <a href="{{ path('teamPage', {'id': team.id}) }}">
                <button class="myTeam-button">{{ team.name }}</button>
            {% endfor %}
        {% endif %}
    </div>

    <hr>

    <div class="allTeamsContainer">
        {% if allTeams %}
            {% for team in allTeams %}
                <button class="allTeams-button"> {{ team.name }} </button>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
